In [2]:
%load_ext sql
%sql sqlite:///portfolio.db

In [1]:
import pandas as pd, sqlite3
conn = sqlite3.connect("portfolio.db")

result = pd.read_sql_query("""
SELECT customer_id,
       COUNT(*) AS n_orders,
       SUM(total_amount) AS revenue
FROM orders
GROUP BY 1
ORDER BY revenue DESC;
""", conn)

result

   customer_id  n_orders  revenue
0          103         1   200.00
1          102         1   120.00
2          101         2    99.40
3          104         1    77.25

In [3]:
%load_ext sql
%sql sqlite:///portfolio.db

In [7]:
  %reload_ext sql

In [4]:
%%sql
SELECT customer_id,
       COUNT(*) AS n_orders,
       SUM(total_amount) AS revenue
FROM orders
GROUP BY 1
ORDER BY revenue DESC;

 * sqlite:///portfolio.db
Done.

[(103, 1, 200.0), (102, 1, 120.0), (101, 2, 99.4), (104, 1, 77.25)]

In [6]:
# 1) Make sure the table exists at least once
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine("sqlite:///portfolio.db")
pd.read_csv("../data/orders.csv").to_sql("orders", engine, if_exists="replace", index=False)

# 2) Configure ipython-sql (choose one of these lines)
%config SqlMagic.autopandas = True   # OR: %config SqlMagic.style = 'PLAIN_COLUMNS'